.FBasicSelect {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif,
    Segoe UI Emoji,
    Segoe UI Symbol;
  .ant-select-selector {
    border-radius: 0.625rem;
    margin: 5px 0 0 2px;
  }
  label {
    display: block;
  }
}
