.FBasicTextArea {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif,
    Segoe UI Emoji,
    Segoe UI Symbol;
  .ant-input {
    border-radius: 1.5rem;
    padding: 15px 15px 60px 15px;
  }
}
