@import "/src/styles/variables";

:export {
  //----------------------Primary
  primaryColor: $primaryColor;
  primaryColor2: $primaryColor2;
  primaryColor6: $primaryColor6;
  colorError: $colorError;
}
