@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.SingleValidate {
  font-family: "Inter";
  border: 1px solid grey;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  .ant-btn {
    margin-top: 12px;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
