@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.ChatCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 470px;
  @include onlyIn(mob) {
    width: 85vw;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    @include onlyIn(mob) {
      width: 11vw;
    }
    svg {
      font-size: 22px;
    }
  }

  .chatBtn {
    font-family:
      ui-sans-serif,
      -apple-system,
      system-ui,
      Segoe UI,
      Helvetica,
      Apple Color Emoji,
      Arial,
      sans-serif,
      Segoe UI Emoji,
      Segoe UI Symbol;
    box-shadow: 1px 2px 1px $primaryColor9;
    width: 82%;
    @include onlyIn(mob) {
      width: 63vw;
    }
    height: 76px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    &-active {
      background-color: $primaryColor8;
    }
  }

  section {
    width: 75%;
    padding: 8px;
    text-align: start;
  }

  .DynamicIcon {
    width: 25%;
    svg {
      font-size: 40px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    @include limitTextLines(2);
  }

  .ant-checkbox-wrapper {
    margin-inline: 8px;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
