@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.DynamicIcon {
  font-family: "Inter";
  display: inline;
  svg {
    font-size: 16px;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
