@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Question {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif,
    Segoe UI Emoji,
    Segoe UI Symbol;
  margin: 10px 0; // Espaciado veritcal entre mensajes
  padding: 10px; // Espaciado interior

  .UpdatePanel,
  section {
    width: 88%; // Limita el ancho del mensaje
    margin: 10px 0 10px 12%;
    @include onlyIn(mob) {
      width: 95%; // Limita el ancho del mensaje
      margin: 8px 0 8px 5%;
    }
  }

  section {
    border: 1px solid $primaryColor11;
    border-bottom: none;
    border-radius: 10px 10px 0 0px;
    box-shadow: 0 2px 5px $primaryColor; // Sombra ligera para profundidad
    background-color: $primaryColor12; // Color de fondo suave para los mensajes entrantes
    font-size: 14px; // Tamaño de fuente
    line-height: 1.5;
    padding: 10px;
    white-space: pre-wrap;
    @include limitTextLines(6);

    @include onlyIn(mob) {
      width: 95%; // Limita el ancho del mensaje
      margin: 10px 0 10px 5%;
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
