@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.ModelSelector {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif,
    Segoe UI Emoji,
    Segoe UI Symbol;
  padding-inline: 15px;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* Ancho del input del Select */
  .ant-select,
  .ant-select-selector {
    min-width: 120px !important; /* o width:120px si quieres forzarlo */
  }

  /* Ancho del menú desplegable */
  /* v4 */
  .ant-select-dropdown {
    min-width: 120px !important;
  }
  /* v5 (ahora rc-select-dropdown) */
  .rc-select-dropdown {
    min-width: 120px !important;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
