@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.CopyButton {
  font-family: "Inter";
  display: inline-block;
  border-radius: 10px;
  svg {
    font-size: 18px;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
