// ---Dependencies
import React from "react";


/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 */
export function {{pascalCase name}}() {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
}