@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Answer {
  font-family: "Inter";
  background-color: aqua;
}

.Answer {
  display: flex; // Utiliza flexbox para mejor alineación
  justify-content: flex-start; // Alineación a la izquierda
  margin: 10px 0; // Espaciado vertical entre mensajes
  padding: 10px; // Espaciado interior
  max-width: 88%; // Limita el ancho del mensaje
  @include onlyIn(mob) {
    max-width: 95%; // Limita el ancho del mensaje
  }
  border-radius: 10px; // Bordes redondeados
  background-color: #f8f8ff; // Color de fondo suave para los mensajes entrantes
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra ligera para profundidad
  border: 1px solid $primaryColor2;
  section {
    margin: 0; // Elimina margen por defecto
    font-size: 14px; // Tamaño de fuente
    line-height: 1.5; // Espacio entre lineas

    pre,
    code {
      white-space: pre-wrap !important;
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
