@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Layout {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif,
    Segoe UI Emoji,
    Segoe UI Symbol;
  min-height: 100vh;
  display: flex;

  .ant-layout {
    background-color: $primaryColor14;
  }

  .ant-layout-sider-children {
    background-color: $primaryColor18;
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 470px;
    border-right: 1px solid $primaryColor;
    overflow-x: hidden;
    @include onlyIn(mob) {
      width: 85vw;
    }
  }
  .ant-layout-sider-collapsed .ant-layout-sider-children {
    width: 0px;
  }

  .ant-layout-sider-collapsed {
    background-color: $primaryColor18;
    border-right: 1px solid $primaryColor;
  }

  .GptFooter {
    @include onlyIn(mob) {
      width: 85vw !important;
    }
  }

  .ant-layout-header {
    height: 64px;
    width: 100%;
    position: relative;
    background-color: $primaryColor15;
  }
  .headerContainer {
    position: fixed;
    top: 0;
    z-index: 10;

    padding: 0;
    background-color: $primaryColor18;
    border-bottom: 1px solid $primaryColor;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .collapseBtn {
    font-size: 16px;
    width: 64px;
    height: 64px;
  }

  .ant-layout-content {
    margin: 24px 16px;
    padding: 24px 24px 96px 24px;
    min-height: 240px;
    background-color: $primaryColor14;
    border-radius: 12px;

    flex: 1; // Permite que el contenido ocupe todo el espacio disponible
    min-height: 0; // Para que el flex item se re-dimensione correctamente
    overflow: auto; // Habilita el scroll interno si el contenido crece
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
